
config trojan
	option enabled              '0'
	option run_type             'client'
	option local_addr           '0.0.0.0'
	option local_port           '1080'
	option remote_addr          'example.com'
	option remote_port          '443'
	list password               'password'
	option ssl_verify           'true'
	option ssl_verify_hostname  'true'
	option ssl_sni              ''
	list ssl_alpn               'http/1.1'
	option ssl_reuse_session    'true'
	option ssl_session_ticket   'false'
	option ssl_curves           ''
	option no_delay             'true'
	option keep_alive           'true'
	option reuse_port           'false'
	option fast_open            'false'
	option fast_open_qlen       20

config trojan
	option enabled              '0'
	option run_type             'server'
	option local_addr           '0.0.0.0'
	option local_port           '443'
	option remote_addr          '127.0.0.1'
	option remote_port          '80'
	list password               'password1'
	list password               'password2'
	option ssl_cert             '/path/to/certificate.crt'
	option ssl_key              '/path/to/private.key'
	option ssl_key_password     ''
	option prefer_server_cipher 'true'
	list ssl_alpn               'h2'
	list ssl_alpn               'http/1.1'
	list ssl_alpn_port_override 'h2:81'
	option ssl_reuse_session    'true'
	option ssl_session_ticket   'false'
	option ssl_session_timeout  600
	option ssl_plain_http_response ''
	option ssl_curves           ''
	option ssl_dhparam          ''
	option prefer_ipv4          'true'
	option no_delay             'true'
	option keep_alive           'true'
	option reuse_port           'false'
	option fast_open            'false'
	option fast_open_qlen       20
